body{
    font-family: 'Times New Roman';
}

.wrapper{
    margin-left: 20px;
    width:1100px;
    height: fit-content;
}

.left{
    /* margin-left: 10px; */
    width:28%;
}

header{
    font-size: 22px;
    text-align: center;
    margin-bottom: 10px;
}


/* *{margin: 0; padding: 0;} */
nav{width: 80%;margin: auto;}

ul{margin: 0; padding: 0;list-style: none;}

ul li{ width: 19%; background: gray; float: left; height: 35px; line-height: 35px; text-align: center; margin-right: 2px; position: relative;}

ul li:hover{ background: black;}

ul li a{color: #fff; text-decoration: none; font-family: sans-serif; display: block;}

ul li ul li{ width: 100%;border-top: 1px solid #fff;}

ul li ul{display: none;}

ul li:hover ul{ display: block;color:white;}

ul li ul .itam-2{position: absolute; left: 122px; top: 0; display: none;}

ul li ul li:last-child:hover .itam-2{display: block;}

section{width: 800px; margin: auto; clear: both; background: #e1e1e1;}



